<ion-content class="container-fluidm">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Usuario: </ion-label>
        <ion-input placeholder="Username" clearInput required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Senha</ion-label>
        <ion-input placeholder="Password" clearInput required></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>